@media (min-width: 1400px) {
    .detail-forecast {
        width: 75%;
        padding: 24px;
        background-color: rgb(246, 246, 248);
    }

    .heading {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .today-view-btn {
        cursor: pointer;
    }

    .active {
        font-weight: 700;
        border-bottom: 3px solid black;
    }
}